body {
    font-family: 'Montserrat', sans-serif; 
}
div #carouselExample{
    height:100vh;
}
.m-item {
    height: 750px;
    align-items: center;
}
.m-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
} 
i {
    font-size:125%;
    color:white;
}
.m-logo {
    width: 30px;
    height: 24px;
}
.m-cv {
    text-decoration: none;
}
.carousel-caption h5 {
    color: #090909;
    font-size: 2rem;
    background-color: transparent !important; 
}
.carousel-caption h2 {
    color: #8c52ff;
    font-size: 5rem;
    background-color: transparent !important; 
}
.image-area {
    background-color: #e8ecef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-area img{
    width: 100%;
}
#about p, ul, li {
  text-align: left;
}
.row {
    margin: 0 auto;
}
.toast-body p {
  color: #090909;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-group i {
    font-size: 90%;
    color:#000000;
}
.form-control {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* Ensure width includes padding and border */
}
.btn-primary.m-btn {
    position:relative;
    background-color: #8c52ff;
    bottom: 10px; /* elevation */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* shadow*/
    text-decoration: none;
}
 
  @media screen and (min-width: 768px) { 
    .btn-primary {
      display: inline-block; /* Make button inline on larger screens */
      width: auto; 
    }
  }
    
