body {
    font-family: 'Montserrat', sans-serif; 
}
div #carouselExample{
    height:100vh;
}
.m-item {
    height: 750px;
    align-items: center;
}
.m-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
} 
.carousel-caption h5 {
    color: #090909;
    width: 70%;
    background-color: transparent !important; 
}
.carousel-caption h2 {
    color: #8c52ff;
    width: 70%;
    background-color: transparent !important; 
}
.carousel-caption h1 {
    color: #8c52ff;
    background-color: transparent !important; 
}
.image-area {
    background-color: #e8ecef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-area img{
    width: 100%;
}

.row {
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-control {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* Ensure width includes padding and border */
  }
  
  .btn-primary {
    background-color: #8c52ff !important;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    display: block; /* Make button full width on smaller screens */
    width: 100%;
    margin-top: 15px; 
  }
  
  .m-btn {
    margin-top: 15px;
    background-color: #8c52ff;
  }
  
  @media screen and (min-width: 768px) { 
    .btn-primary {
      display: inline-block; /* Make button inline on larger screens */
      width: auto; 
    }
  }
    
